
<p>After clicking on the video, press <b>k</b> to play/pause and <b>f</b> for full-screen.</p>

<iframe
    width="560"
    height="315"
    src="@Source"
    title="YouTube video player"
    frameborder="0"
    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
    referrerpolicy="strict-origin-when-cross-origin"
    allowfullscreen>
</iframe>

@code {
    [Parameter, EditorRequired]
    public required string Id { get; init; }

    private string Source =>
        Id.StartsWith("list=")
            ? $"https://www.youtube.com/embed/videoseries?{Id}"
            : $"https://www.youtube.com/embed/{Id}";
}
