
<p>After clicking on the video, press <b>k</b> to play/pause and <b>f</b> for full-screen.</p>

@if (IsPlaylist)
{
    <p><em>This is a playlist</em></p>
}


<div style="width: 560px; height: 315px; float: none; clear: both; margin: 2px auto;">
    <embed src="@Source"
           wmode="transparent"
           type="video/mp4"
           width="100%" height="100%"
           allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
           allowfullscreen>
</div>

@code {
    [Parameter, EditorRequired]
    public required string Id { get; init; }

    private bool IsPlaylist => Id.StartsWith("list=");

    private string Source =>
        IsPlaylist
            ? $"https://www.youtube.com/embed/videoseries?{Id}"
            : $"https://www.youtube.com/embed/{Id}";
}
