@page "/videos"
@page "/videos/{videoId}"
@using szalapski.github.io.Components

@inject HttpClient client

<PageTitle>Szalapski.github.io videos</PageTitle>

@if (IsLoading)
{
    <p>Loading...</p>
    return;
}

@if (VideoId is null)
{
    <h1>All videos</h1>

    @foreach (string id in VideoIds)
    {
        <div class="video-preview-container" @key="id">
            <a href="videos/@id" class="position-relative">
                <div class=" border-4 "
                     style="height: 160px; width: 300px; z-index:1; top:0; left:0">
                    <Video IsPreview="true" Id="@id" />
                </div>
                <div class="position-absolute border-1 "
                     style="background-color: transparent; height: 160px; width: 300px; z-index:2; top:0; left:0">
                </div>
            </a>
        </div>
    }

    <h2>Videos for a better life playlist</h2>

    <div class="video-preview-container">
        <a href="videos/@BetterLifePlaylistId" class="position-relative">
            <div class="position-absolute border-1 "
                 style="background-color: transparent; height: 160px; width: 300px; z-index:2; top:0; left:0">
            </div>
            <div class="position-absolute border-4 "
                 style="height: 160px; width: 300px; z-index:1; top:0; left:0">
                <Video IsPreview="true" Id="@BetterLifePlaylistId" IsStatic="true" />
            </div>

        </a>
    </div>
    return;

}

@if (VideoIds.Contains(VideoId) || VideoId == @BetterLifePlaylistId)
{
    <Video Id="@VideoId" />
}
else
{
    <p>Video/playlist with ID <pre>@VideoId</pre> not found.</p>
}



@code {
    protected override async Task OnInitializedAsync()
    {
        VideoIds = await client.GetFromJsonAsync<IEnumerable<string>>("videos.txt") ?? [];
        IsLoading = false;
    }

    [Parameter]
    public string? VideoId { get; init; } = null;

    private IEnumerable<string> VideoIds { get; set; } = [];
    private bool IsLoading { get; set; } = true;

    private string BetterLifePlaylistId => "list=PLLZl7zpsXDt_V3GbguZU4uTrvJQRcKxbc";

}
